@use '../../styles/_vars.scss' as *;
@use '../../styles/_mixins.scss' as *;

.title {
  @include h1;
}

.primery {
  .primer {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;

    & + .primer {
      margin-top: 20px;
    }

    .primerLink {
      @include link;
    }
  }
}
